/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
}

/* Navigation */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #d9534f !important;
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    color: #333 !important;
    margin-left: 1rem;
}

.nav-link:hover {
    color: #d9534f !important;
}

/* Sections */
#ingredientZone, #burgerZone {
    padding-top: 100px;
    margin-top: -70px;
    background-color: #ffffff;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

/* Carousel */
#carouselContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
}

#carouselImage {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

#carouselImage:hover {
    transform: scale(1.05);
}

#burgerLabel {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d9534f;
    margin-top: 10px;
}

/* Formulaires */
.container h3 {
    color: #d9534f;
    font-weight: bold;
    text-align: center;
}

.form-group label {
    color: #555;
}

.form-control {
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #d9534f;
    border: none;
    transition: background-color 0.3s;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #c9302c;
}

/* Images d'ingrédients */
.img-fluid {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Messages d'erreur */
.text-danger {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #888;
    margin-top: 2rem;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustements mobiles */
@media (max-width: 768px) {
    #carouselContainer {
        padding: 0 10px;
    }

    .container h3 {
        text-align: center;
    }

    .nav-item {
        text-align: center;
    }

    #ingredientZone, #burgerZone {
        padding: 1.5rem;
    }
}